<ion-header appHideOnKeyboardShow >
  <ion-toolbar  >
    <div  style="color: var(--ion-color-primary)" class="textCenter fontBold">
      {{ 'LOGIN.TITLE' | translate:{value: null} }}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked" color="primary">
            {{ 'LOGIN.USERNAME' | translate:{value: null} }}
          </ion-label>
          <ion-input  appClassKey="cssDirective" appSelectOnClick [(ngModel)]="username" name="username" type="text" #usernameText="ngModel"
            spellcheck="false" autocapitalize="off" required color="dark">
          </ion-input>
        </ion-item>
    

        <ion-item>
          <ion-label position="stacked" color="primary">
            {{ 'LOGIN.PASSWORD' | translate:{value: null} }}
          </ion-label>

          <ion-row>
            <ion-col size="12">
              <ion-input  appClassKey="cssDirective" appSelectOnClick  [(ngModel)]="password" name="password" [(type)]="this.PassTypeText"
                #passwordText="ngModel" color="dark" required>
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-button fill="clear" class='botonOjo' (click)="this.switchPassVisibility()" expand="block"
            autocapitalize="off">
            <ion-icon [color]="(this.PassTypeText === 'password')? 'primary' : 'secondary'"
              [name]="(this.PassTypeText === 'password')? 'eye-outline' : 'eye-off-outline'">
            </ion-icon>
          </ion-button>
        </ion-item>

        <ion-label color="danger" [hidden]="passwordText.valid || submitted === false" class="ion-padding-start">
          {{ 'LOGIN.PASSWORD_REQUIRED' | translate:{value: null} }}
        </ion-label>


        <ion-button fill="clear" (click)="this.onClickLogin()" expand="block">
          {{ 'LOGIN.ACCESS' | translate:{value: null} }}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>



<ion-footer appHideOnKeyboardShow class="textCenter">
  <ion-button [hidden]=" submitted === false" fill="clear" (click)="this.onClickGoToRegistro()" expand="block">
    {{ 'LOGIN.REGISTER' | translate:{value: null} }}
  </ion-button>
  <ion-toolbar>
    <ion-label color="primary">{{ 'VERSION' | translate:{value: null} }} &nbsp; {{this.version}}</ion-label>
  </ion-toolbar>
</ion-footer>