<ion-header>
  <ion-toolbar>
    <ion-title class="textCenter fontBold">
      {{ 'LOGIN.TITLE' | translate:{value: null} }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          {{ 'LOGIN.CARD_TITLE' | translate:{value: null} }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked" color="primary">
            {{ 'LOGIN.USERNAME' | translate:{value: null} }}
            <ion-text color="danger">
              {{ 'LOGIN.MANDATORY' | translate:{value: null} }}
            </ion-text>
          </ion-label>
          <ion-input #iNusername [(ngModel)]="username" name="username" (onBlur)="this.selectOnClick(this.iNusername)" (click)="this.selectOnClick(this.iNusername)"
            type="text"  #usernameText="ngModel" spellcheck="false"
            autocapitalize="off" required>
          </ion-input>
        </ion-item>

        <ion-text color="danger">
          <p [hidden]="usernameText.valid || submitted == false" class="ion-padding-start">
            {{ 'LOGIN.USERNAME_REQUIRED' | translate:{value: null} }}
          </p>
        </ion-text>

        <ion-item>

          <ion-label position="stacked" color="primary">
            {{ 'LOGIN.PASSWORD' | translate:{value: null} }}
            <ion-text color="danger">
              {{ 'LOGIN.MANDATORY' | translate:{value: null} }}
            </ion-text>
          </ion-label>

          <ion-row>
            <ion-col size="12">
              <ion-input #iNpassword [(ngModel)]="password" name="password" (onBlur)="this.selectOnClick(this.iNpassword)" (click)="this.selectOnClick(this.iNpassword)" 
              [(type)]="this.visibility" #passwordText="ngModel"    color="dark" required>
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-button fill="clear" style='position:absolute; right: 1em; bottom: 0.2em; width: 3em; height: 3em;'
            (click)="this.switchPassVisibility()" expand="block" type="submit" autocapitalize="on">
            <ion-icon [hidden]="(this.visibility === 'password')? true : false " size="large" color="primary"
              name="eye-off-outline">
            </ion-icon>
            <ion-icon [hidden]="(this.visibility === 'text')? true : false " size="large" color="secondary"
              name="eye-outline">
            </ion-icon>
          </ion-button>


        </ion-item>

        <ion-text color="danger">
          <p [hidden]="passwordText.valid || submitted == false" class="ion-padding-start">
            {{ 'LOGIN.PASSWORD_REQUIRED' | translate:{value: null} }}
          </p>
        </ion-text>


        <ion-button fill="outline" (click)="this.toAndroidService()" expand="block" type="submit" autocapitalize="on">
          {{ 'LOGIN.ACCESS' | translate:{value: null} }}
        </ion-button>





      </ion-card-content>
    </ion-card>
  </form>
</ion-content>


<ion-footer class="ion-text-center">
  <ion-toolbar>
    <ion-label>{{ 'VERSION' | translate:{value: null} }} {{this.version}}</ion-label>
  </ion-toolbar>
</ion-footer>