<ion-header>
  <ion-toolbar>
    <div style="color: var(--ion-color-dark)" class="textCenter fontBold">
      {{ 'HOME.TITLE' | translate:{value: null} }}
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>


 




  <ion-textarea [rows]="this.helper.getTextLineBreaks(this.resultText)" [(ngModel)]="this.resultText" color="dark">
  </ion-textarea>


</ion-content>

<ion-footer class="textCenter">
  <ion-toolbar>
    <ion-button fill="outline" (click)="this.onClickNewPalabraModal()">
      {{ 'HOME.BTN_PALABRAS' | translate:{value: null} }}
    </ion-button>

    <ion-button [hidden]="!this.isBindService" class="noPadding  itemButtonT" fill="clear" color="danger"  slot="end" (click)="this.onClickBindServize()">
      <ion-spinner name="dots"  color="danger"></ion-spinner>
    </ion-button>


    <ion-button  [hidden]="this.isBindService" class="noPadding  itemButtonT" fill="clear" color="danger"  slot="end" (click)="this.onClickBindServize()">
      <ion-icon size="large" name="chatbubble-ellipses-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>